.layout-motto{
	font-family: Gill Sans, Verdana;
	font-size: 15px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: black;
}
.layout-topbar{
    background-color: #e4c580;
}
nav#navbar {
	background: #3f3d56;
	top: 0;
	position: relative;
	width: 100%;
	transition: all 0.5s linear;
	z-index: 1;
  }
  ul.menu-list {
	display: flex;
	list-style: none;
  }
  ul.menu-list li {
	display: flex;
	flex: 1;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
  }
  ul.menu-list li.logo {
	max-width: 0;
	overflow: hidden;
	background: #fff;
	transition: all 0.5s linear;
  }
  .logo > a > img {
	max-width: 80px;
  }
  ul.menu-list li.logo > a {
	color:#fbb833;
  }
  
  ul.menu-list li > a {
	text-decoration: unset;
	display: flex;
	color: #fff;
	transition: 0.2s linar;
	text-transform: uppercase;
  }
  body.fixed-nav nav#navbar {
	position: fixed;
	box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  }
  body.fixed-nav li.logo {
	max-width: 300px;
  }