/***Header First bar starts***/
.layout-motto{
	font-family: Gill Sans, Verdana;
	font-size: 15px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: black;
	text-align: center;
	padding-top: 40px;
}
.layout-topbar{
    background-color: #f8ede3;
}
/***Header First bar ends***/
/***Header Second bar starts***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
#container {
	margin: 0 auto;
	max-width: 890px;
}
.toggle,
[id^=drop] {
	display: none;
}
.layout-navbar { 
	margin:0;
	padding: 0;
	background-color: #bdd2b6;
}
#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 54px;
}
.layout-navbar:after {
	content:"";
	display:table;
	clear:both;
}
.layout-navbar ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
.layout-navbar ul li {
	margin: 0px;
	float:left;
	background-color: #bdd2b6;
	}
.layout-navbar a#headlink {
	display:block;
	padding:14px 20px;	
	color:#000;
	font-size:17px;
	text-decoration:none;
}
.layout-navbar a#headlinkdrop {
	display:block;
	padding:14px 20px;	
	color:#000;
	font-size:17px;
	text-decoration:none;
}
.layout-navbar ul li ul li:hover { background: #000000; }
.layout-navbar a#headlink:hover { 
	background-color: #fff; 
}
.layout-navbar a#headlinkdrop:hover { 
	background-color: #fff; 
}
.layout-navbar ul ul {
	display: none;
	position: absolute; 
	top: 54px; 
}
.layout-navbar ul li:hover > ul {
	display:inherit;
}
.layout-navbar ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }
@media all and (max-width : 768px) {
	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.layout-navbar {
		margin: 0;
	}
	.toggle + a,
	.menu {
		display: none;
	}
	.toggle {
		display: block;
		background-color: #bdd2b6;
		padding:14px 20px;	
		color:#000;
		font-size:17px;
		text-decoration:none;
		border:none;
	}
	.toggle:hover {
		background-color: #fff;
	}
	[id^=drop]:checked + ul {
		display: block;
	}
	.layout-navbar ul li {
		display: block;
		width: 100%;
		}
	.layout-navbar ul ul .toggle,
	.layout-navbar ul ul a {
		padding: 0 40px;
	}
	.layout-navbar ul ul ul a {
		padding: 0 80px;
	}
	.layout-navbar a:hover,
 	.layout-navbar ul ul ul a {
		background-color: #000;
	}
	.layout-navbar ul li ul li .toggle,
	.layout-navbar ul ul a,
  .layout-navbar ul ul ul a{
		padding:14px 20px;	
		color:#000;
		font-size:17px; 
	}
	.layout-navbar ul li ul li .toggle,
	.layout-navbar ul ul a {
		background-color: #798777; 
	}
	.layout-navbar ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}
	.layout-navbar ul ul li:hover > ul,
	.layout-navbar ul li:hover > ul {
		display: none;
	}
	.layout-navbar ul ul li {
		display: block;
		width: 100%;
	}
	.layout-navbar ul ul ul li {
		position: static;
	}
	.layout-navbar ul li a#headlinkdrop{
		display: none;
	}
}
@media all and (max-width : 330px) {
	.layout-navbar ul li {
		display:block;
		width: 94%;
	}
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content {
	padding-top: 60px;
}  
/***Header Second bar ends***/
/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
 .footer{
 	position:relative;
    background-color:#303036;
    display: block;
}
.container layout-footer{
	color: white;
	padding: 20px;
}
.column-1 layout-footer .para{
   width: 330px;
   font-size: 15px;
}
.column-3 layout-footer .column-3-con{
   width: 340px;
   font-size: 15px;
}
.column layout-footer .column-1 layout-footer{
	padding: 25px;
}
.column layout-footer .column-2 layout-footer{
	padding: 25px;
}
.column layout-footer .column-3 layout-footer{
	padding: 25px;
}
.container layout-footer .logo-copy{
	padding: 10px;
}
.socials layout-footer{
  text-align:center;
  font-size:30px;
  color: #ddd;
  border-bottom: 1px solid white;
  border-top:1px solid white;
}
.socials laoyout-footer a{
  color: inherit;
  text-decoration: none;
}
.column-2 layout-footer .site-navigation {
  display: flex;
  margin-left: auto;
}

.column-2 layout-footer .site-navigation-item {
  color: white;
  font-size: 15px;
  margin-left: .1rem;
  padding:5px;
}
.column-2 layout-footer .site-navigation-item .hover{
	color: #ddd;
}
/*responsive ness*/