{% extends 'home.html' %}
{% block body %}
<style>
    .detail-image{
        background-repeat:no-repeat;
        background-size:cover;
        width:300px;
        height:350px;
        margin-left:1%;
        margin-right:1%;
        border-radius:6px;
    }
    div{
        width:100%;
        padding:2%;
    }
    body{
        padding:2%;
        background-color:#FAFAE4;
    }
    h5{
        font-family:verdana;
        color:green;
    }
</style>
<div class="row">
    <div class="col">
      <div class="detail-image" style="background-image:url('1.jpeg')"></div>
      <h5>SMT DR.CHADALAVADA SUDHA</h5>
      <h5>HONOURABLE PRESIDENT</h5>
    </div>
    <div class="col">
       <div class="detail-image" style="background-image:url('2.jpeg')"></div>
       <h5>DR.YALAMANCHILI SAI KISHORE</h5>
       <h5>PRESIDENT</h5>
    </div>
    <div class="col">
      <div class="detail-image" style="background-image:url('3.jpeg')"></div>
       <h5>SMT PATHI NAGALAKSHMI</h5>
       <h5>VICE PRESIDENT</h5>
    </div>
      <div class="col">
      <div class="detail-image" style="background-image:url('4.jpeg')"></div>
       <h5>SRI MALAYATHI SUBBASEKHAR</h5>
       <h5>SECRETARY</h5>
    </div>
</div>
<div class="row">
    <div class="col">
      <div class="detail-image" style="background-image:url('5.jpeg')"></div>
      <h5>SMT BOYAPATI MADHURI</h5>
      <h5>JOINT SECRETARY</h5>
    </div>
    <div class="col">
       <div class="detail-image" style="background-image:url('6.jpeg')"></div>
       <h5>SRI MADIRAJU MADHAVA</h5>
       <h5>TREASURER</h5>
    </div>
    <div class="col">
      <div class="detail-image" style="background-image:url('7.jpeg')"></div>
       <h5>SRI LEKALA SUDHEER</h5>
       <h5>MEMBER</h5>
    </div>
      <div class="col">
      <div class="detail-image" style="background-image:url('8.jpeg')"></div>
       <h5>SRI DIVVELA SIVAKRISHNA ANJANEYULU</h5>
       <h5>MEMBER</h5>
    </div>
</div>
<div class="row">
    <div class="col">
      <div class="detail-image" style="background-image:url('9.jpeg')"></div>
      <h5>SMT PALURI SURYA RATNAMANI</h5>
      <h5>MEMBER</h5>
    </div>
    <div class="col">
       <div class="detail-image" style="background-image:url('10.jpeg')"></div>
       <h5>SRI SRIRAM PREMEA KUMAR</h5>
       <h5>MEMBER</h5>
    </div>
    <div class="col">
      <div class="detail-image" style="background-image:url('11.jpeg')"></div>
       <h5>DR PEPETI SRI</h5>
       <h5>MEMBER</h5>
    </div>
      <div class="col">
    </div>
</div>