{% extends 'layout.html' %}

{% block body %}

<p>EDUCATION:</p> 
<p>ABHYASIKAS:</p>
	<p>Knowledge dissemination along with awareness of rich Culture, Tradition and Heritage of Bharat complemented by training the students in a disciplined manner had been taking place in 15 Tuition centers prior to the pandemic . 
	These students are trained in such a manner  that they are on par with any other students trained at corporate or such other  institutions 
	…….. children were benefitted  and when situation improves, the activity will be resumed. </p>
<p>SEVA DARSAN:</p>
<p>In order to make the urban educated youth to understand the stark realities related to eating habits, habitats and challenges of Tribal life in a practical manner, …. are deputed to ……. At</p>

{% endblock %}
