{% extends 'layout.html' %}

{% block body %}


	<style>
    	.totaleducation {
      		box-sizing: border-box;
   		 }
    .education-row {
      display: flex;
      flex-wrap: wrap;
    }
    .education-column {
      flex: 25%;
      padding: 20px;
      
    }
	.education-matter{
		font-size: 17px;
	}
	.education-image{
		width: 100%;
		text-align: center;
		padding-bottom: 5%;
	}
    .matter-center{
        margin:3%
    }
    @media screen and (max-width: 992px) {
      .education-column {
        flex: 50%;
      }
	  .education-matter{
		font-size: 21px;
		}
    }
    @media screen and (max-width: 600px) {
      .education-row {
        flex-direction: column;
      }
      .education-image{
          width:100%;
      }
	  .education-matter{
		font-size: 15px;
		}
    }
    </style>
<div style="background-color: #94d0cc" class="totaleducation container-fluid">
    <div class="row education-row">
        	<div class="col education-column">
				<h2>BALA SAMSKARA KENDRAS :</h2>
            		<pre class="education-matter">  
	Now a days tv channels has mesmerised the children
and corrupted their minds not knowing the culture and
traditions of our country.
					</pre>
					<pre class="education-matter">  
	Corporate schools have tamed the students with a
routine terrestrial style of giving education. students are not
given a chance to know,understand and participate in service
activities.
					</pre>
					<pre class="education-matter">
	Our Sevabharati has started many Bala samaskara
kendras for children. They teach students -yoga,patriotic
song,games and discipline for the better development of
the student(his/her) mental and physical strength through
our culture.
					</pre>	
			</div>	
			<div class="col education-column">
				<img class="education-image" src="{{url_for('static', filename='/images/education/education2.webp')}}">
	        	  
			</div> 
    </div>
	<div class="row education-row">	
			<div class="col education-column">
				<img class="education-image" src="{{url_for('static', filename='/images/education/education.webp')}} ">
				<h2 >ABHYASIKA (Free Tuition Center ) :</h2>
				<pre class="education-matter"> 
	<b>ABHYASIKA</b> is a Novel Project of <b>Seva Bharati</b> to
the Children living in Slums and not having the minimum
facilities and no encouragement from their parents after
coming back from the schools. And some children may not
even go to schools because the parents leave them in the
houses to look after the younger ones while they go on
work for their livelyhood. Sevabharati running 30
Abhyasikas at present in these localities. Since the children
are not taken care by the parents they become more
troublesome in the locality, finally they turn out to be
indiscipline, disadvantaged, deserted and involve in
juvenile delinquency. Hence the Abhyasika will take care
of such children and support them to keep them on right
path. 
				 </pre>
				<pre class="education-matter">
	This ABHYASIKA gives guidance, motivation and
support to the children in the age group of 9 to 14 for Two
hours a day and six days a week in their locality irrespective
of the school background.
				</pre>
				<pre class="education-matter">
	A Teacher will be appointed to train them properly.
The Teacher mingles with the children as well with the
parents and creates interest towards education. The
Teacher also gets training every month in the One Day
Training (Prasikshana Varga). Proper guidance will be given
to the Teacher for overall improvement of the child.
				</pre>	
			</div>
			<div class="col education-column">
				<pre class="education-matter">



	Weekend tests will be conducted to the child to
evaluate the improvement with regard to script, verbal,
physical and mental abilities. Expert coaching will be given
to the children appearing for common exams.
				</pre>
				<h3 >Routine and occasional activities to achieve these aims</h3>
				<pre class="education-matter">

1. Games 	2. Songs 	3. Acting 	4. Storytelling 	
5. Free Chatting
6. Trips 	7. Crafts. 	8. Yoga and exercise 			
9. Celebrations of Festivals and Events of National importance.
				</pre>
				<h3 >Aims of the ABHYASIKA</h3>
				<pre class="education-matter">
1. Promotion of learning basic skills.
2. Promotion of language and communication skills.
3. Learning through playing.
4. Gathering experience through activities.
5. Self respecting, self reliance, integrated personality development
6. Providing cultural environs for the child’s growth


				</pre>
				<h3 >Specialties of Abhyasika in Child Education programme</h3>
				<pre class="education-matter">
1. Mathru Mandali 			2. Balamela
3. Parents meetings 		4. Hand Bag Library
5. Training programmes for mothers
for women empowerment
6. Camps for grown up children and mothers
				</pre>
				<pre>


		One Abhyasika per year cost Rs. 20,000/-
		( Rupees Twenty thousand only)
Given Donations are Exempted from Income Tax U/S 80 G
“Our organisation is dedicated to the process of making
that happen but we need your help.” Thanking you,
	- Seva Bharati Vijayawada
				</pre>
			</div>
    </div>
</div>
{% endblock %}
