{% extends 'layout.html' %}

{% block body %}

<style>
    div{
        width:100%;
        padding:2%;
    }
    body{
        padding:2%;
        background-color:#fdfaf6;
    }
</style>
<center>
    <div class="row">
        <div class="col">
          <div>
              <a href="1.jpeg" download>
             <img src="1.jpeg" alt="W3Schools" width="800px" height="1000px">
            </a>
          </div>
        </div>
           <div class="col">
          <div>
              <a href="2.jpeg" download>
             <img src="2.jpeg"  width="900px" height="200px">
            </a>
          </div>
        </div>
        <div class="col">
          <div>
              <a href="3.jpeg" download>
             <img src="3.jpeg"  width="800px" height="400px">
            </a>
          </div>
        </div>
        <div class="col">
          <div>
              <a href="4.jpeg" download>
             <img src="4.jpeg" width="800px" height="1000px">
            </a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
              <div>
                  <a title="sevabharathi-income-tax-returns-acknolwdegement" href="5.pdf" download>
                 <img src="pdf.png" width="400px" height="400px">
                 <h4>sevabharathi-income-tax-returns-acknolwdegement</h4>
                </a>
              </div>
        </div>
        <div class="col">
              <div>
                  <a title="trust-needs-image" href="6.pdf" download>
                 <img src="pdf.png" width="400px" height="400px">
                 <h4>trust-needs-image</h4>
                </a>
              </div>
        </div>
    </div>
</center>
{% endblock %}
