{% extends 'layout.html' %}

{% block body %}

<style>
  .home-carousel-item{
    background-color: khaki;
    width: 100%;
    height: 50em;
  }
</style>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000" style="background-color: #bdd2b6;  z-index: -1;">
  <div class="carousel-inner">
        
    <img class="carousel-item home-carousel-item active"src="https://cars.usnews.com/pics/size/640x420/static/images/article/202002/128389/1_title_2020_kia_optima.jpg" alt="">
    <img class="carousel-item home-carousel-item"src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
    <img class="carousel-item home-carousel-item" src="https://images.unsplash.com/photo-1597404294360-feeeda04612e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">

  </div>
</div>

{% endblock %}