{% extends 'layout.html' %}

{% block body %}
<style>
    .home-carousel-item{
	width: 100%;
	padding-bottom: 42.25%;
	background-repeat: no-repeat;
	background-size: cover;
}
</style>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000" style="background-color: red;">
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active" style="background-image: url(https://cars.usnews.com/pics/size/640x420/static/images/article/202002/128389/1_title_2020_kia_optima.jpg);"></div>
        <div class="carousel-item home-carousel-item" style="background-image: url(https://images.unsplash.com/photo-1597404294360-feeeda04612e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);"></div>
        <div class="carousel-item home-carousel-item" style="background-image: url(https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);"></div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}