<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <!-- social link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Scripts -->
    <title>Seva Bharathi</title>
  </head>
  <body>
    <header>
        <div class="layout-topbar">
            <div class="container">
                <div class="row layout-info">
                    <div class="col">
                        <a href="#" class="navbar-brand">
                            <img src="../static/images/logo.jpg" alt="Not Loaded" class="layout-logo" width="90" height="100">
                            <img src="../static/images/logotext.PNG" alt="NotLoaded" class="layout-logotext" width="220" height="100">
                        </a>
                    </div>
                    <div class="col">
                        <p class="layout-motto">
                            Kindling Hope & Happiness Around
                        </p>
                    </div>
                </div> 
            </div>
        </div>
        

        <nav id="navbar" class="layout-navbar" style="z-index: 2;">
            <div id="logo"><a href="#"><img src="../static/images/logotext.PNG" width="180" height="50"></a></div>
            <label for="drop" class="toggle">Menu<svg viewBox="0 0 100 80" width="30" height="30" style="float: right;">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
              </svg></label>
            <input type="checkbox" id="drop" />
                <ul class="menu">
                    <li><a href="#" id="headlink">Home</a></li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">About us</label>
                        <a href="#" id="headlinkdrop">About us</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul>
                            <li><a href="#" id="headlink">Vission & Mission</a></li>
                            <li><a href="#" id="headlink">Team</a></li>
                            <li><a href="#" id="headlink">Approach</a></li>
                            <li><a href="#" id="headlink">Partners</a></li>
                            <li><a href="#" id="headlink">Our Reach</a></li>
                        </ul>  
                    </li>
                    <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Projects</label>
                    <a href="#" id="headlinkdrop">Projects</a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                        <li><a href="#" id="headlink">Health</a></li>
                        <li><a href="#" id="headlink">Education</a></li>
                        <li><a href="#" id="headlink">Samskara</a></li>
                        <li><a href="#" id="headlink">Livelyhood</a></li>
                        <li><a href="#" id="headlink">Vidhyarthi</a></li>
                        <li><a href="#" id="headlink">Relief</a></li>
                    </ul>
                    </li>
                    <li><a href="#" id="headlink">Become a Volunteer</a></li>
                    <li style="padding-top: 10px; padding-left: 14px; padding-right: 14px;"><button type="button" class="btn btn-primary" style="border-radius: 25px;" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Donate us
                      </button></li>
                    <li><a href="#" id="headlink">Contact us</a></li>
                </ul>
            </nav>
    </header>
    


    {% block body %}
    {% endblock %}

    <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
    <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>

    <footer class="footer">
		<div class="container layout-footer">
			<div class="row">
			    <div class="column layout-footer">
				     <div class="column-1 layout-footer">
				        <h4><span>About</span></h4>
				        <p class="para">A not for profit serving since 1989 with moderate means and a canvas of activities, it has grown into an expansive network across Telangana. There are around 1,57,000 activities in all the 602 districts of the country.</p>
				    </div>
		        </div>
			    <div class="column layout-footer">
				    <div class="column-2 layout-footer">
					    <h4><span>Menu</span></h4>
					     <nav class="site-navigation" style="background-color: #303036;">
						    <a class="site-navigation-item" title="Covid-19-care-3" href="#">Covid-19-care-3</a>
                            <a class="site-navigation-item" title="Home" href="#">Home</a>
                            <a class="site-navigation-item" title="About Us" href="#">About Us</a>
                         </nav>
                         <nav class="site-navigation" style="background-color: #303036;">
                    	   <a class="site-navigation-item" title="Our Projects" href="#">Our Projects</a>
                    	   <div class="dropdown">
								<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" title="Disaster Relief">Disaster Relief</button>
								    <div class="dropdown-menu">
								      <a class="dropdown-item" href="#">COVID19</a>
								      <a class="dropdown-item" href="#">Covid19 Care</a>
								    </div>
						    </div>
                         </nav>
                         <nav class="site-navigation" style="background-color: #303036;">
                    	    <a class="site-navigation-item" title="Fund Raiser" href="#">Fund Raiser</a>
                            <a class="site-navigation-item" title="Privacy Policy" href="#">Privacy Policy</a>
                            <a class="site-navigation-item" title="Contact Us" href="#">Contact Us</a>
                        </nav>
                    </div>
			    </div>
			    <div class="column layout-footer">
				    <div class="column-3 layout-footer">
				        <h4><span>Address</span></h4>
				        <div class="column-3-con">
				            <p>3-2-106,labbipet,Vijayawada,Andhrapradesh500091</p>
				            <p>040 – 24610056</p>
                            <p> Contact@sevabharathi.org</p>
                        </div>
			        </div>
		        </div>
	        </div>
	    </div>
	    <div class="container-fluid layout-footer">
	        <div class="socials layout-footer">
				    	<a href="https://www.facebook.com/sevabharathitg"  title="Follow on Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
				    	<a href="https://www.instagram.com/sevabharathitg/" title="Follow on Instagram" target="_blank" ><i class="fab fa-instagram"></i></a>
				    	<a href="https://twitter.com/sevabharathitg" title="Follow on Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				    	<a href="https://www.youtube.com/user/sevabharathi" title="Follow on Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
			</div>
	    </div>
	    <div class="container layout-footer">
		      <div class="logo-copy">
				<p style="text-align:center;font-size:15px;"><img loading="lazy" src="http://www.sevabharathi.org/wp-content/uploads/2020/04/Sevabharathi-logo-website.png" width="204" height="31" alt="SevaBharathi" class="wp-image-48 alignnone size-full"></p>
			    <p style="text-align: center;font-size:15px">&copy;2021 Seva Bharathi Vijayawada All rights reserved</p>
	        </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script>
        window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>