{% extends 'layout.html' %}

{% block body %}

<p>Livelihood:</p> 
<p>MATRUCHAYA:</p> 
<p>	It is not just an orphanage but a learning centre for the cultural values and a comprehensive personality development centre for the orphans and destitute children which has been running for about three decades at Nutakki village near Vijayawada. Most of the children nurtured here are successful in their careers with some of them obtaining professional qualifications. 
…. Have been taken care of till now </p>

{% endblock %}