{% extends 'layout.html' %}

{% block body %}


<p>Our Projects:</p> 
<p>Health: </p>
<p>Services in Pandemic 
COVID-19: The Seva Bharati teams plunged into several facets of service, namely 
   Immunity booster oriented COVID -19 prevention activity in the form of distribution of Elixir (Kashayam) , Medicines………………………..
  Medical service in the form of 
   50 bed Isolation centre 
   Free Helpline service with a response rate of 200 Beneficiaries per day 
   Ambulance support 
   Free distribution of Ayush 60 Medicine for Covid positive patients
   Free food distribution to the paramedical staff, attendants of patients and sanitary staff about 200 per day at the Govt. General Hospital, Vijayawada,  in addition to food supply to patients in home quarantine in addition to serving sugarcane juice to doctors. 
Our regular Health services being rendered since long: 
DHANVANTARI CLINIC: 
Dr Y Sai Kishore, an eminent pediatrician, has been offering free medical services along with medicines  from 8.00-9.30 AM Thursday every week in the community hall in Gangireddula dibba, Gunadala for the last … years 
      
DHANVANTARI SANCHAR VAIDYASALA:
In order to cater to the medical needs of the slum dwellers of Vijayawada, mobile medical facilities are offered in …. Slum areas for the last more than one and a half decades. Thousands of poor people have been benefitted.</p>

{% endblock %}













{% endblock %}