{% extends 'layout.html' %}

{% block body %} 

	
	<style>
		.ourpartners-heading{
			text-align: center;
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 350%;
			text-transform: uppercase;
			margin-bottom: 10px;
			margin-top: 20px;
			color: black;
			padding-top: 50px;
			text-shadow: 0 1px 10px rgb(0 0 0 / 60%);
				}
				.ourpartners-poster {
					  margin-bottom: 30px;
					  border-radius: 5px;
					  height: 400px;
					  width: 320px;
					  overflow: hidden;
					  padding-top: 50px;
                      border: 1px solid transparent;
					}
				.ourpartners-poster img {
					    height: 330px;
					    width:320px;
					     }
					     
			    .ourpartners-poster:hover img {
				      -webkit-transform: scale(1.2);
				          -ms-transform: scale(1.2);
				              transform: scale(1.2); }
 
			    .ourpartners-poster-name{
			    	text-align: center;
			    	padding-top: 30px;
			    	font-family:'sans-serif';
			        text-transform: uppercase;
			    	color: black;
			    }
			    .ourpartners-poster-knowmore{
			    	text-align: center;
                    padding-top: 25px;
					padding-bottom: 40px;

			    }

	</style>
<body style="background-color:white">
    <div class="container-fluid">
    	<h2 class="ourpartners-heading">OUR PROUD PARTNERS</h2>
    	<div class="row">
    		<div class="col-sm-6 col-md-3">
				<div class="ourpartners-poster">
					<a href="https://mcksfood.com/" target="_blank"><img src="../static/images/partners/mcksfou.webp" alt="Partners 1" title="Visit page"></a>
				</div>
					<h4 class="ourpartners-poster-name">MCKS Food For Hungry Foundation</h4><br><br>
					<div class="ourpartners-poster-knowmore">
						<a href="https://mcksfood.com/" target="_blank"><button type="button" class="btn btn-danger" title="click">Know More</button></a>
					</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="ourpartners-poster">
					<a href="https://www.zaubacorp.com/company/TWILLS-CLOTHING-PRIVATE-LIMITED/U17299AP2007PTC054270" target="_blank"><img src="../static/images/partners/zuba.webp" alt="Partners 2" title="Visit page"></a>
				</div>
				    <h4 class="ourpartners-poster-name">Zauba Technologies & Data Services Private Limited</h4><br>
				    <div class="ourpartners-poster-knowmore">
				    	<a href="https://www.zaubacorp.com/company/TWILLS-CLOTHING-PRIVATE-LIMITED/U17299AP2007PTC054270" target="_blank"><button type="button" class="btn btn-danger" title="click">Know More</button></a>
				    </div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="ourpartners-poster">
					<a href="https://www.cclproducts.com/" target="_blank"><img src="../static/images/partners/ccl1.webp" alt="Partners 3" title="Visit page"></a>
				</div>
				    <h4 class="ourpartners-poster-name">CCL PRODUCTS (INDIA) LTD</h4><br><br>
				    <div class="ourpartners-poster-knowmore">
				    	<a href="https://www.cclproducts.com/" target="_blank"><button type="button" class="btn btn-danger" title="click">Know More</button></a>
				    </div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="ourpartners-poster">
					<a href="https://samarthan.in/ngo/vidyamitra-charitable-trust" target="_blank"><img  src="../static/images/partners/samarthan.webp" alt="Partners 4" title="Visit page"></a>
				</div>
				    <h4 class="ourpartners-poster-name">SAMARTHAN Vidyamitra Charitable Trust</h4><br>
				    <div class="ourpartners-poster-knowmore">
				    	<a href="https://samarthan.in/ngo/vidyamitra-charitable-trust" target="_blank"><button type="button" class="btn btn-danger" title="click">Know More</button></a>
				    </div>
			</div>
		</div> <!-- .row -->
	</div>
</body>

{% endblock %}