{% extends 'layout.html' %}

{% block body %}



<div class="team-template">
    <h1 class="team-title">Team Members</h1>
    <div class="container-fluid">
        <div class="row team-rows">
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/01.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SMT DR CHADALAVADA SUDHA</h5> 
                            <p>HONOURABLE PRESIDENT</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/02.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>DR YALAMANCHILI SAI KISHORE</h5> 
                            <p>PRESIDENT</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/03.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SMT PATHI NAGALAKSHMI</h5> 
                            <p>VICE PRESIDENT</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/04.jpeg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SRI MALAYATHI SUBBASEKHAR</h5> 
                            <p>SECRETARY</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-rows">
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/05.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SMT BOYAPATI MADHURI</h5> 
                            <p>JOINT SECRETARY</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/06.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SRI  MADIRAJU MADHAVA</h5> 
                            <p>TREASURER</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/07.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SRI LEKALA SUDHEER</h5> 
                            <p>MEMBER</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/08.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SRI DIVVELA SIVAKRISHNA ANJANEYULU</h> 
                            <p>MEMBER</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-rows">
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/09.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SMT PALURI SURYA RATNAMANI</h5> 
                            <p>MEMBER</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/010.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>SRI SRIRAM PREMEA KUMAR</h5> 
                            <p>MEMBER</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/teammem/011.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>DR PEPETI SRIDHAR</h5> 
                            <p>MEMBER</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col team-cols" style="visibility: hidden;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/images/members/11 DR SRIDHAR JI.jpeg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h5>DR PEPETI SRIDHAR</h5> 
                            <p>MEMBER</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock %}